* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  background: linear-gradient(135deg, #f5f9fc 10%, #f0f6fb 30%, #e5eaf8 40%);
  min-height: 100vh;
}

.header {
  padding: 5rem 2rem 3rem 2rem;
}

.header__title {
  color: #3a3a3a;
  font-family: 'Urbanist', sans-serif;
}

.main {
  padding: 0 2rem 2rem 2rem;
}

.section {
  background-color: white;
  border-radius: 1em;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
  color: #3a3a3a;
  display: inline-grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr auto;
  padding: 1.5rem 0 1.5rem 1.5rem;
  margin: 1rem 0;
}

.section__icon {
  align-self: center;
  grid-column-end: 3;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-row-start: 1;
  justify-self: center;
  margin: 1rem 1rem 1rem 0rem;
  width: 3.5rem;
}

.section__title {
  align-self: center;
  font-family: 'Urbanist', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.section__description {
  font-family: 'Urbanist', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.section__content {
  grid-column-end: 3;
  grid-column-start: 1;
  padding-right: 1.5rem;
}

.subsection__title {
  font-family: 'Urbanist', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.subsection__subtitle {
  font-family: 'Urbanist', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.subsection__description {
  font-family: 'Urbanist', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.subsection__footer {
  margin: 1rem 0;
}

/* Input css section */

.input {
  background-color: white;
  border-radius: 3px;
  display: inline-block;
  font-family: 'Urbanist', sans-serif;
  overflow: hidden;
  position: relative;
  margin: 0.5rem 0;
  width: 100%;
}

.input__label {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-weight: 600;
  left: 1rem;
  pointer-events: none;
  position: absolute;
  top: 1.2rem;
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  transition: all 150ms ease-in;
  z-index: 2;
}

.input__bg--focus {
  background: rgba(0, 0, 0, 0.05);
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform-origin: left;
  transform: scaleX(0);
  width: 100%;
  z-index: 0;
}

.input__input {
  appearance: none;
  background-color: rgba(0, 0, 0, 0.02);
  border: 0;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  height: 3.5rem;
  outline: none;
  padding: 1rem 1rem 0 1rem;
  transition: all 150ms ease-in;
  z-index: 3;
  width: 100%;
}

.input__input:hover {
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.input__input:focus {
  background: rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 -2px 0 #50439d;
}

.input__input:not(:placeholder-shown) + .input__label {
  transform: translate3d(0, -0.7rem, 0) scale(0.8);
}

.input__input:focus + .input__label {
  color: #50439d;
  transform: translate3d(0, -0.7rem, 0) scale(0.8);
}

.input__input:focus + .input__label + .input__bg--focus {
  transform: scaleX(1);
  transition: all 0.1s ease;
}

/* Input css section -- end */

.button {
  padding: 0.5rem 1rem;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  border-radius: 10px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: white;
  color: #50439d;
  transition: all 150ms ease-in;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 480px) {
  .header {
    padding: 5rem 4rem;
  }

  .main {
    padding: 0 4rem 2rem 4rem;
  }

  .section {
    width: 24rem;
    margin: 1rem 0.5rem 1rem 0;
  }
}
